<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        title Portafolio
    body
        header
            .container
                .container-logo Narvaez
                nav.container-menu
                    ul.list-items
                        - const sections = ["Inicio","Servicios","Habilidades","Portafolio","Contacto"]
                        - for(let index = 0; index<sections.length;index++)
                            li.item-list 
                                a(href="#") #{sections[index]}
        main
            .container
                section.section.home
                    .container-banner
                        h1 Narvaez Alexis
                        h2 Diseñador web.
                        p.text-banner  Tener una página web para tu negocio, marca personal es muy importante en la actualidad.
                    .container-button
                        a(href="#") ¡QUIERO UN PRESUPUESTO!
                section.section.services
                    h2 Servicios
                    .container-services
                        - 
                            const services = ["Diseño Web",
                            "Desarrollo de appps",
                            "Bases de datos"]
                        - 
                            const descriptions = ["Maquetacion web, y desarrollo con Javascript",
                            "Desarrollo de apps utilizado el leguaje mas popular actualemente",
                            "Diseño de bases de datos utlizando el gestor de bases de datos \"PostgreSQL\" "]
                        - for(let index = 0; index < services.length;index++)     
                            .service
                                h4.service-title #{services[index]}
                                span.service-icon
                                p.service-description #{descriptions[index]}
                section.section.skills 
                    h2 Habilidades
                    .container-skills
                        include skills
                section.section.briefcase
                    h2 Portafolio 
                    .container-briefcase
                        include gallery     
                section.section.form
                    form(action="").form-contact
                        input(type="text" placeholder="Nombre:")
                        input(type="email" placeholder="Correo:")
                        textarea(name="comment")
                        .container-buttons-form
                            input(type="submit", value="Enviar")
                            input(type="reset", value="Cancelar")
        footer
            .container
                section.container-logo-footer
                    h1 Alexis <br>Narvaez
                section.container-social-media
                    include social-media
                       