<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(rel="stylesheet", href="styles/style.css")
        title Portafolio
    body
        header
            .container
                .container-logo Narvaez
                nav.container-menu
                    ul.list-items
                        - const sections = ["Inicio","Servicios","Habilidades","Portafolio","Contacto"]
                        - for(let index = 0; index<sections.length;index++)
                            li.item-list
                                - let link = '#'+sections[index] 
                                a(href= link).item #{sections[index]}
        main
            section.section.home
                .container
                    .container-banner
                        h1#Inicio Narvaez Alexis <br> Diseñador web.
                        p.text-banner  Tener una página web para tu negocio, marca personal... es muy importante en la actualidad.
                    .container-button
                        a(href="#").button-contac-me ¡QUIERO UN PRESUPUESTO!
            section.section.services
                .container
                    h2#Servicios Servicios
                    .container-services   
                        include services        
            section.section.skills 
                .container
                    h2#Habilidades Habilidades
                    .container-skills
                        include skills
            section.section.briefcase
                .container
                    h2#Portafolio Portafolio 
                    .container-briefcase
                        include gallery     
            section.section.form
                .container
                    h2#Contacto Contactame
                    .container-form
                        form(action="").form-contact
                            input(type="text" placeholder="Nombre:")
                            input(type="email" placeholder="Correo:")
                            textarea(name="comment")
                            .container-buttons-form
                                input(type="submit", value="Enviar")
                                input(type="reset", value="Cancelar")
        footer
            .container
                section.container-logo-footer
                    h1 Alexis <br>Narvaez
                section.container-social-media
                    include social-media
                       