-
    const services =[
        {
            name:'Diseño Web',
            icon:'',
            description:'Maquetacion web, y desarrollo con Javascript'
        },
        {
            name:'Desarrollo de appps',
            icon:'',
            description:'Desarrollo de apps utilizado el leguaje mas popular actualemente'
        },
        {
            name:'DBases de datos',
            icon:'',
            description:'Diseño de bases de datos utlizando el gestor de bases de datos \"PostgreSQL\" '
        },
    ]
each service in services
    .service
        h4.service-title #{service.name}
        span(class= service.icon)
        p.service-description #{service.description}    