-
    const socialMedia = [
        {
            icon:'fa fa-facebook-official',
            text:'Facebook'
        },
        {
            icon:'fa fa-instagram',
            text:'Instagram'
        },
        {
            icon:'fa fa-youtube-play',
            text:'Youtube'
        },
        {
            icon:'',
            text:'Patreon'
        }
    ]
ul
    each socialM in  socialMedia   
        li
            a(href="") 
                i(class=socialM.icon) 
                = socialM.text    