.section {
  margin-bottom: 50px; }

/*  ---------- Section del home -----------------------  */
.section.home {
  display: flex;
  align-items: flex-end;
  height: 500px;
  padding-bottom: 100px;
  background: var(--color-banner); }
  .section.home .container {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    justify-content: space-between; }
  .section.home .container-banner {
    width: 647px; }
  .section.home h1 {
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .section.home .text-banner {
    font-size: 23px;
    font-weight: 400; }
  .section.home .button-contac-me {
    padding: 15px;
    text-decoration: none;
    background: var(--color-button);
    color: #fff;
    border-radius: 5px; }

/*  ---------- Section de service -----------------------  */
.section.services h2 {
  text-align: center; }

.section.services .container-services {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.section.services .service {
  width: 230px;
  height: 255px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  /* flex-direction: column; */ }
  .section.services .service .service-title {
    width: 100%;
    text-align: center;
    align-self: flex-start;
    font-weight: 600; }
  .section.services .service span {
    align-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.3);
    width: 100%;
    font-size: 70px; }
  .section.services .service .service-description {
    width: 100%;
    align-self: flex-end; }

/*  ---------- Section de service -----------------------  */
.section.skills .container {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .section.skills .container h2 {
    margin-bottom: 50px; }

.section.skills .container-skills {
  display: inline-block;
  margin: 0 auto; }
  .section.skills .container-skills .skill {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; }
    .section.skills .container-skills .skill h4 {
      width: 150px; }
    .section.skills .container-skills .skill .bar {
      width: 350px;
      height: 35px;
      background: var(--color-skill-backg);
      border-radius: 5px;
      margin: 0 30px; }
      .section.skills .container-skills .skill .bar .fill-bar {
        width: 50%;
        background: var(--color-skill-fill);
        height: 35px;
        border-radius: 5px; }

/*  ---------- Section de portafolio -----------------------  */
.section.briefcase h2 {
  text-align: center;
  margin-bottom: 50px; }

.section.briefcase .container-briefcase {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 220px);
  grid-gap: 10px; }
  .section.briefcase .container-briefcase .container-img.cont4 {
    grid-column: span 2;
    grid-row: span 1; }
  .section.briefcase .container-briefcase .container-img.cont5 {
    grid-column: span 1;
    grid-row: span 2; }
  .section.briefcase .container-briefcase .img-grid {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

/*  ---------- Section de Formulario -----------------------  */
.section.form h2 {
  margin-bottom: 50px;
  text-align: center; }

.section.form .container-form {
  width: 50%;
  margin: auto; }
  .section.form .container-form .form-contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .section.form .container-form .form-contact input {
      width: calc( 100% / 2 - 20px);
      display: flex; }
    .section.form .container-form .form-contact textarea {
      min-width: 100%;
      height: 200px; }
    .section.form .container-form .form-contact input, .section.form .container-form .form-contact textarea {
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px; }
    .section.form .container-form .form-contact .container-buttons-form {
      width: 100%;
      display: flex;
      justify-content: space-between; }
    .section.form .container-form .form-contact input[type="submit"],
    .section.form .container-form .form-contact input[type="reset"] {
      border: none; }
    .section.form .container-form .form-contact input[type="submit"] {
      background: var(--color-button);
      color: #fff;
      font-weight: 700; }
    .section.form .container-form .form-contact input[type="reset"] {
      background: none; }

/*  ---------- Section de Formulario -----------------------  */
footer {
  background: #000; }

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  color: #fff; }
  footer .container li {
    list-style: none; }
    footer .container li a {
      color: #fff;
      text-decoration: none;
      padding: 10px 15px; }
      footer .container li a i {
        margin-right: 10px; }
